<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Datanauts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/battery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/led.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text_box.css') }}">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

 <!-- Background -->   
<div class="bg" id = "bg_color"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<!-- Battery -->
<div class="battery-container" id="battery-container">
    {% if loading %}
        <div class="battery dynamic"></div>
    {% else %}
        <div class="battery static" style="--battery-percentage: {{ battery_percentage }};"></div>
    {% endif %}
    <div class="battery-percentage">{{ battery_percentage }}%</div>
</div>

<div class="content_small" id = "device_name">
    <h3>Device:None</h3>
</div>
<script>
    function updateDevice(){
        //call the name of the connected Device
        fetch('/update_device')
        .then(response => response.json())
        .then (data =>{
            const nameContainer = document.getElementById('device_container');
            nameContainer.innerHTML = '<h3>     Device:' + data.device + '      </h3>';
            });
        
    }
       setInterval(updateDevice,1000);
       updateDevice();     

    
</script>
<script>
    function updatePercentage() {
        // Make an asynchronous request to the Flask server
        fetch('/update_battery ')
            .then(response => response.json())
            .then(data => {
                const batteryContainer = document.getElementById('battery-container');
                batteryContainer.innerHTML = `
                        <div class="${data.loading ? 'battery dynamic' : 'battery static'}" style="--battery-percentage: ${data.percentage};"></div>
                        <div class="battery-percentage">${data.percentage}%</div>`;
            })
            .catch(error => {
                console.error('Error fetching battery:', error);
            });
            
           // const bgContainer = document.getElementById('bg_color');
            
    }

    // Update the random number every second
    setInterval(updatePercentage, 1000);

    // Initial update
    updatePercentage();
</script>

<!-- LED -->
<div class="LED-container clearfix" id="LED-container">
    {% if connected %}
        <div class="led-box">
            <div class="led-green"></div>
            <p>Connected</p>
        </div>
    {% elif not connected %}
        <div class="led-box">
            <div class="led-red"></div>
            <p>Disconnected</p>
        </div>
    {% endif %}
    <div class="led-box">
        <div class="led-yellow"></div>
        <p>Connecting...</p>
    </div>
</div>


<!-- COnnect BLE -->
<div class="alert" id="connect-container">
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <button class="btn " id="connect-btn">Connect</button>
    <script>
        var conn_btn = document.getElementById("connect-btn");
        conn_btn.addEventListener("click", () => {
            fetch('/connect')
            .then(response => response.json())
            .then(data => {
                if (data.connected){
                    conn_btn.innerHTML = 'Disconnect';
                }
                else{
                    conn_btn.innerHTML = 'Connect';
                }
            })
           /*
            fetch('/scan_BLE')
            .then(response => response.json())
            .then(data => {
                //conn_btn.innerHTML = 'Connected to '+ data.connected
                
            })
           
           //.then(conn_btn.style = "background-color:red")
           .then(fetch('/connect'))
           then(response => response.json())
            .then(data => {
                conn_btn.innerHTML = data.connected
            })
            
                

           
                
            
           */
        })
        
    </script>
</div>


<script>
    function updateConnection() {
        // Make an asynchronous request to the Flask server
        fetch('/update_led ')
            .then(response => response.json())
            .then(data => {
                const ledContainer = document.getElementById('LED-container');
                
                if (data.connected === null) {
                    ledContainer.innerHTML = `
                        <div class="led-box">
                            <div class="led-yellow"></div>
                            <p>Connecting...</p>
                        </div>`;
                } else if (data.connected) {
                    ledContainer.innerHTML = `
                        <div class="led-box">
                            <div class="led-green"></div>
                            <p>Connected</p>
                        </div>`;
                } else {
                    ledContainer.innerHTML = `
                        <div class="led-box">
                            <div class="led-red"></div>
                            <p>Disconnected</p>
                        </div>`;
                }
            })
            .catch(error => {
                console.error('Error fetching connection:', error);
            });
    }

    // Update the random number every second
    setInterval(updateConnection, 1000);

    // Initial update
    updateConnection();
</script>


<!-- Automatic fall -->
<script>
    function fall_warning(){
        fetch('/update_fall')
        .then(response => response.json())
        .then(data => {
            if (data.prediction){
                fetch('/add_fall/1', {
                method: 'POST',
            })
                cuteAlert({
                type: "warning",
                title: "Fall Detected!",
                message: `Patient Max Mustermann<br> has fallen at location:<br> 49.87594851805438, 8.656191738871787<br> time: ${new Date().toISOString().slice(0, 19).replace('T', ' ')}`,
                buttonText: "Help is on the way!"
            })
            
        .then( setTimeout(function(){fetch('/trigger_prediction/0',{method:'POST'})},2000) ) //se
            }

        })
    

        }

        setInterval(fall_warning,1000);
        fall_warning();
</script>

<!-- Alert -->
<div class="alert-container" id="alert-container">
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <button class="btn btn-warning" id="warning-btn">Trigger Fall</button>
    <script>
        var warning = document.getElementById("warning-btn");
        warning.addEventListener("click", () => {
            fetch('/trigger_prediction/1',{method:'POST'}) // triggers a fall in the code that lasts 2s
            
            
        })
    </script>
</div>

<!-- Plot -->
<div class="content_title" id = "acel">
    <h3>        Accelerometer    </h3>
</div>
<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <canvas id="plot"></canvas>
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
</div>
<p id="fallStatus"></p>

<!-- Patients -->
<div class="content_title" id = "patient">
    <h3>        Patients    </h3>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td><a href="{{ url_for('history', patient_id=patient.id) }}">View History</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>