.battery-container {
    position: relative;
    text-align: center;
    transform: scale(0.5, 0.5);
}

.battery {
    position: relative;
    margin: 0 auto;
    width: 300px;
    border: 10px solid royalblue;
    height: 100px;
    border-radius: 15px;
}

.battery-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
}

.battery:after {
    content: "";
    position: absolute;
    right: -30px;
    top: 28px;
    width: 15px;
    height: 50px;
    background-color: royalblue;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}

.battery.static:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    height: 88px;
    background-color: royalblue;
    border-radius: 5px;
    width: calc(var(--battery-percentage) * 0.96%);
}

.battery.dynamic:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    height: 88px;
    background-color: royalblue;
    border-radius: 5px;
    animation: full 2s linear infinite;
}

@keyframes full {
    0% {
        width: 0%;
    }
    25% {
        width: 24%;
    }
    50% {
        width: 48%;
    }
    75% {
        width: 72%;
    }
    100% {
        width: 96%;
    }

}
